/* base class */
.inline-block {
    display: inline-block;
}
.vertical-middle {
    vertical-align: middle;
}
.vertical-top {
    vertical-align: top;
}
.vertical-bottom {
    vertical-align: bottom;
}
/* base class */
.htmlimg {
    width: 100px;
    height: 30px;
    margin-top: 30px;
}
.navigation{
    margin-top: 25px;
}
.navigation-a {
    padding-top: 7.5px;
    color: #3D58A6;
    font-size: 22px;
    font-family: 'BPG Nino Mtavruli Bold';
}
.navigation-a:hover {
    color: #EE4036;
}
.bannerimg{
    margin-top: 28px;
}
.container {
    margin-left: 30px;
}
.social-a img {
    height: 30px;
}
.social-li {
    border: 0;
}
/* .social-li::before {
    content: "before";
}
.social-li::after {
    content: "after";
} */
.social-a.facebook {
    padding-right: 30px;
    border-right-style: solid;
    border-right-width: 1px;
    border-right-color:#3D58A6;
}
.social-a.youtube {
    padding-left: 30px;
}
.footer{
    margin-top: 30px;
}
.date-block {
    font-family: 'BPG Nino Mtavruli';
}
.date {
    background-color: #3D58A6;
    /* width: 56px;
    height: 56px; */
    padding: 8px;
    font-size: 48px;
    color: white;
    margin-top: 40px;
}
.month {
    font-size: 22px;
    color: #3D58A6;
    margin-top: 8px;
}
.article-title {
    font-size: 20px;
    display: block;
    margin-top: 25px;
    font-family: 'BPG Nino Mtavruli';
}
.article-img {
    margin-top: 25px;
}
.par {
    font-size: 16px;
    line-height: 22px;
    margin-top: 30px;
    font-family: 'BPG Ingiri Arial';
}
.contact-title {
    color:  #3D58A6;
    font-size: 20px;
    font-family: 'BPG Nino Mtavruli Bold';
    /* text-align: center; */
}
.content-section {
    background-color: #E6E6E6;
    padding: 30px 0px 30px 30px;
}
.contact-left-section{
    width: 280px;
}
.contact-right-section {
    width: 100%;
    margin-top: 30px;
}
.iframe-map {
    width: 870px;
    height: 460px;
    
}
.row {
    font-family: 'BPG Ingiri Arial';
    font-size: 16px;
    /* text-align: center; */
}
.key {
    color: #808080;
}
.value {
    color: #000000;
}
/* feature block */
.feature-block {
    margin-top: 120px;
}
.feature-heading {
    font-family:  'Roboto';
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom: 35px;
}
.feature-heading a {
    text-transform: lowercase;
}
.feature-article-tittle {
    font-size: 22px;
    color: #3D58A6;
    font-family: 'Roboto';
    margin-bottom: 20px;
}
.feature-title {
    font-size: 22px;
}
.feature-item {
    width: 570px;
    background-color: #E6E6E6;
    padding: 15px 25px 40px 15px;
    /* float: left; */
}
.feature-item.left {
    margin-left: 30px;
}
.content-img {
    margin-bottom: 56px;
    width: 100px;
    margin: auto 60px auto 25px;
}
.content-par {
    width: calc(100% - 185px);
    font-size: 20px;
    font-family: 'Roboto';
    line-height: 24px;
}

/* feature block */ 