@import "modules/variable.scss";
@import "modules/reset.scss";
@import "modules/mixins.scss";
@import "partials/keyframes.scss";
@import "modules/classes.scss";
@import "partials/fonts.scss";
@import "coponents/header.scss";
@import "pages/mainStyle.scss";
@import "partials/mobile.scss";


