@font-face {
    font-family: 'BPG Ingiri Arial';
    src: url('#{$fontsUrl} bpg-ingiri-arial-webfont.eot'); /* IE9 Compat Modes */
    src: url('#{$fontsUrl} bpg-ingiri-arial-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('#{$fontsUrl} bpg-ingiri-arial-webfont.woff2') format('woff2'), /* Super Modern Browsers */
         url('#{$fontsUrl} bpg-ingiri-arial-webfont.woff') format('woff'), /* Pretty Modern Browsers */
         url('#{$fontsUrl} bpg-ingiri-arial-webfont.ttf') format('truetype'), /* Safari, Android, iOS */
         url('#{$fontsUrl} bpg-ingiri-arial-webfont.svg#bpg_ingiri_arialregular') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'BPG Nino Mtavruli Bold';
    src: url('#{$fontsUrl} bpg-nino-mtavruli-bold-webfont.eot'); /* IE9 Compat Modes */
    src: url('#{$fontsUrl} bpg-nino-mtavruli-bold-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('#{$fontsUrl} bpg-nino-mtavruli-bold-webfont.woff2') format('woff2'), /* Super Modern Browsers */
         url('#{$fontsUrl} bpg-nino-mtavruli-bold-webfont.woff') format('woff'), /* Pretty Modern Browsers */
         url('#{$fontsUrl} bpg-nino-mtavruli-bold-webfont.ttf') format('truetype'), /* Safari, Android, iOS */
         url('#{$fontsUrl} bpg-nino-mtavruli-bold-webfont.svg#bpg_nino_mtavrulibold') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'BPG Nino Mtavruli';
    src: url('#{$fontsUrl} bpg-nino-mtavruli-webfont.eot'); /* IE9 Compat Modes */
    src: url('#{$fontsUrl} bpg-nino-mtavruli-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('#{$fontsUrl} bpg-nino-mtavruli-webfont.woff2') format('woff2'), /* Super Modern Browsers */
         url('#{$fontsUrl} bpg-nino-mtavruli-webfont.woff') format('woff'), /* Pretty Modern Browsers */
         url('#{$fontsUrl} bpg-nino-mtavruli-webfont.ttf') format('truetype'), /* Safari, Android, iOS */
         url('#{$fontsUrl} bpg-nino-mtavruli-webfont.svg#bpg_nino_mtavruliregular') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: $robotoBold;
    src: url('#{$fontsUrl} RobotoBold.eot');
    src: url('#{$fontsUrl} RobotoBold.eot') format('embedded-opentype'),
         url('#{$fontsUrl} RobotoBold.woff2') format('woff2'),
         url('#{$fontsUrl} RobotoBold.woff') format('woff'),
         url('#{$fontsUrl} RobotoBold.ttf') format('truetype'),
         url('#{$fontsUrl} RobotoBold.svg#RobotoBold') format('svg');
}

@font-face {
    font-family: $robotoRegurl;
    src: url('#{$fontsUrl} RobotoRegular.eot');
    src: url('#{$fontsUrl} RobotoRegular.eot') format('embedded-opentype'),
         url('#{$fontsUrl} RobotoRegular.woff2') format('woff2'),
         url('#{$fontsUrl} RobotoRegular.woff') format('woff'),
         url('#{$fontsUrl} RobotoRegular.ttf') format('truetype'),
         url('#{$fontsUrl} RobotoRegular.svg#RobotoRegular') format('svg');
}


