@media (max-width: 1200px) {
    .container {
        padding: 0 30px;
    }
    .img-article {
        flex: 0 0 23%;
    }
    .video-frame {
        flex-wrap: 0 0 100%;
    }
    .video-frame:last-child {
        margin-left: 30px;
    }
    .video-block {
        position: relative;
    }
    .feature-wrapper:last-child {
        margin-left: 30px;
    }
}
@media (max-width: 1024px) {
    .navigation {
        display: none;
    }
    .burger-menu{
        display: inline-block;
    }
    .html-logo {
        margin: 0 auto 0 0;
    }
    .social-ul {
        margin-right: 30px;
    }
    .mb-nav {
        display: block;
    }
    .img-article {
        flex: 0 0 46%
    }
    .img-wrapper {
        flex-wrap: wrap;
    }
    .video-youtube {
        flex-wrap: wrap;
    }
    .video-frame {
        flex-wrap: 0 0 100%;
        width: 100%;
    }
    .video-frame:last-child {
        margin-left: 0;
        margin-top: 30px;
    }
    .video-block {
        position: relative;
    }
    .feature-item {
        flex: 0 0 100%;
        width: 100%;
    }
    .feature-flex{
        flex-wrap: wrap;
    }
    .feature-wrapper:last-child {
        margin-left: 0px;
        margin-top: 30px;
    }

    
}
@media (max-width: 480px) {
    .html-logo {
        margin: 0;
    }
    .social-li:not(.search){
        display: none;
    }
    .mb-social-ul{
        display: block;
    }
    
    .img-article {
        flex: 0 0 100%;
    }
    .footer-wrapper {
        flex-wrap: wrap;
    }
    .footer-p {
        flex: 0 0 100%;
        text-align: center;
    }
    
}