// section
.section {
    background-color: #E6E6E6;
    padding: 0px 0px 30px 0px;
    z-index: 50;
    .htmlsvg {
        position: absolute;
        right: 30px;
        bottom: 30px;
        width: 100px;
    }
    .bannerimg{
        margin-top: 28px;
        width: 100%;
    }
    .banner-ul {
        position: absolute;
        bottom: 30px;
        left: 30px;
        .banner-li {
            font-family: "roboto";
            font-size: 30px;
            text-transform: uppercase;
            color: white;
            cursor: default;
        }
    }
}
// section
.burger-menu{
    width: 60px;
    height: 60px;
    border: 1px solid $Blue;
    overflow: hidden;
    cursor: pointer;
    display: none;
}
.arrow:first-child {
    top: 30%;
}
.arrow:last-child {
    top: 70%;
}
.arrow {
    width: 40px;
    height: 5px;
    background-color: $Blue;
    position: absolute;
    top: 50%;
    left: 50%;
    transition: all .2s linear;
    transform: translate(-50%, -50%) rotate(0deg);
}
.burger-menu:hover .arrow:first-child{
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}
.burger-menu:hover .arrow:last-child{
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}
.burger-menu:hover .arrow:nth-child(2){
    top: -75%;
}
.mb-nav {
    display: none;
}
.mb-social-nav {
    display: none;
}
/* .social-li::before {
    content: "before";
}
.social-li::after {
    content: "after";
} */
.footer{
    margin-top: 30px;
}
.date-block {
    font-family: 'BPG Nino Mtavruli';
}
.date {
    background-color: $Blue;
    /* width: 56px;
    height: 56px; */
    padding: 8px 8px 0px 8px; 
    font-size: 48px;
    color: white;
    margin-top: 40px;
    line-height: 47px;
}
.month {
    font-size: 22px;
    color: $Blue;
    margin-top: 8px;
}
.article-title {
    font-size: 20px;
    display: block;
    margin-top: 25px;
    font-family: 'BPG Nino Mtavruli';
}
.article-img {
    margin-top: 25px;
}
.par {
    font-size: 16px;
    line-height: 22px;
    margin-top: 30px;
    font-family: 'BPG Ingiri Arial';
}
.contact-title {
    color:  $Blue;
    font-size: 20px;
    font-family: 'BPG Nino Mtavruli Bold';
    /* text-align: center; */
}
.content-section {
    background-color: #E6E6E6;
    padding: 30px 0px 30px 0px;
}
.contact-left-section{
    width: 280px;
}
.contact-right-section {
    /* width: 100%; */
     /* margin-top: 30px; */
    /* margin-left: 200px; */
    width: 870px;
    height: 460px;
    padding-left: 30px;
} 
.iframe-map {
    width: 870px;
    height: 460px;
    
}
.row {
    font-family: 'BPG Ingiri Arial';
    font-size: 16px;
    /* text-align: center; */
}
.key {
    color: #808080;
}
.value {
    color: #000000;
}
/* video block */
.video-block{
    background-color: #363E97;
    color: white;
    padding: 31px 0px 95px 0px;   
    position: sticky;
    top: 0;
    /* z-index: 0; */
}
.video-frame {
    height: 320px;
    width: 570px;
}
.video-youtube {
    display: flex;
    justify-content: space-between;
}
.video-frame:hover {
    opacity: 50%;
}
/* video block */
/* image block */
.random-img {
    height: 210px;
    width: 100%;
    background-size: cover;
    background-color: white;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
}
.load {
    display: flex;
    justify-content: center;
}
.loadmore {
    height: 60px;
    width: 135px;
    background-color: #83939B;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 45px;
}
.loadmore-h1 {
    font-size: 18px;
    color: white;
}
.loadmore:hover {
    opacity: 90%;
    transition: all 1.5s;
    background-color: #C95B34;
}
.image-block {
    background-color: #BDCCD4;
    color: $Blue;
    padding: 31px 0 45px 0px;
}
.img-wrapper .img-tittle {
    width: 270px;
    line-height: 60px;
    background-color: #E6E6E6;
    color: #333333;
    width: 100%;
    font-family: "roboto";
    font-size: 22px;
    padding-left: 15px;
}
.image-block img {
    display: block;
    width: 100%;
    /* height: 100%; */
}

.img-article {
    padding-top: 35px;
    height: 100%;
    /* width: 100%; */
}
.img-wrapper {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}
/* image block */
/* feature block */
.feature-flex {
    display: flex;
    justify-content: space-between;
}
.feature-block {
    background-color: #E6E6E6;
    padding: 31px 0px 31px 0px;   
}
.feature-heading {
    font-family:  'Roboto';
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom: 35px;
}
.feature-heading a {
    text-transform: lowercase;
}
.feature-article-tittle {
    font-size: 22px;
    color: $Blue;
    font-family: 'Roboto';
    margin-bottom: 20px;
}
.feature-title {
    font-size: 22px;
}
.feature-item {
    width: 570px;
    background-color: #F2F2F2;
    padding: 15px 25px 40px 15px;
    /* float: left; */
}

.feature-item.left {
    margin-left: 30px;
}
.content-img {
    margin-bottom: 56px;
    width: 100px;
    margin: auto 60px auto 0px;
}
.content-par {
    width: calc(100% - 185px);
    font-size: 20px;
    font-family: 'Roboto';
    line-height: 24px;
}
.content-expand {
    color: $Blue;
    font-size: 14px;
    font-family: 'Roboto';
}
/* feature block */ 
/* footer block */
.footer-p {
    color: #333333;
    font-size: 12px;
    padding: 0px 0px 26px 0px;
}
.footer-wrapper {
    display: flex;
    justify-content: space-between;
}
/* foooter block */
/*  navblock */
    .nav-block {
        background-color: #EE4036;
        font-family: "roboto";
        font-size: 22px;
        color: $Blue;
    }
    .nav-block.red {
        background-color: #EE4036;
    }
    .nav-block.gray {
        background-color: #bdccd4;
    }
    .navblock-li .navblock-a::after {
        content: " ";
        background-image: url('../imgs/svg/arrowlogo.svg');
        width: 24px;
        height: 16px;
        display: inline-block;
        margin-right: 10px;
        margin-left: 10px;
    }
    .white {
        color: white;
    }
    .navblock-a {
        line-height: 90px;
    }
    .nextsee-a {
        line-height: 90px;
        text-decoration: underline;
    }
    .newslab-a {
        line-height: 90px;
    }
/*  navblock */
/* mapblock */
.mapframe {
    height: 460px;
    padding-top: 30px;
    padding-bottom: 30px;
    display: block;
}
.map-block {
    background-color: gray;
    /* display: block; */
}
.info-wrapper {
    background-color: $Blue;
    font-family: "roboto";
}
.leftblock {
    width: 365px;

}
.rightform {
    width: calc(100% - 365px);
    padding-right: 170px;
}
.inforow input,
.inforow textarea{
    width: 100%;
    height: 60px;
    font-size: 20px;
    font-family: "roboto";
    border: 3px solid white;
    background-color: transparent;
    padding-left: 25px;
    color: white;
    margin-top: 15px;
}
.inforow textarea{
    height: 100px;
}
.inforow input::placeholder {
    color: #5e65ac;
}
.inforow .label {
    color: white;
    text-transform: capitalize;
    font-size: 20px;
    padding-left: 25px;
    padding-bottom: 15px;
}
.inforow {
    margin-top: 30px;
    margin-bottom: 30px;
}
.info-block .button{
    background-color: red;
    font-family: "roboto";
    width: 130px;
    height: 45px;
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 30px;
    color: white;
}

/* mapblock */
/* newhtml */
    .date-block{
        font-family: "roboto";
        border: 1px solid $Blue;
        display: flex;
        height: 60px;
        width: 60px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: $Blue;
        margin-top: 30px;
    }
    .date-block .datee {
        font-size: 34px;
    }
    .date-block .monthh {
        font-size: 12px;
    }
    .new-tittle {
        color: $Blue;
        font-family: "roboto";
        margin-top: 30px;
        font-size: 22px;
    }
    .article-text {
        margin: 30px auto;
    }

    .new-text {
        font-family: "roboto";
        font-size: 20px;
        color: #58595B;
        line-height: 24px;
        margin-top: 25px;
    }
    .new-image {
        margin-right: 25px;
        margin-bottom: 25px;
    }
    .before-footer {
        display: flex;
        justify-content: space-between;

    }
    .before-img {
        width: 60px;
        height: 21px;
        margin-left: 6px;
    }
    .before-div {
        display: flex;
        justify-content: center;
        align-items: center;
    }
/* newhtml */
/* overlay */
.overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: -75%;
    padding-top: 120px;
    z-index: 90;
    background-color: white;
    opacity: 0;
    visibility: hidden;
    transition: opacity .2s linear, visibility .2s linear, left .2s linear;
}
.overlay.active{
    opacity: 1;
    visibility: visible;
    left: 0;
}
.mb-nav-ul {
    flex-wrap: wrap;
}

.mb-nav-a {
    color: $Blue;
    font-size: 24px;
    font-family: 'roboto';
    padding-bottom: 0px;
    transition: opacity .2s linear 0.2s;
}
.mb-nav-a:hover {
    /* color: #BDCCD4; */
    opacity: 50%;
}
.mb-nav-li{
    margin-top: 50px;
    text-align: center;
}
.mb-social-a {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}
.mb-social-a:hover {
    /* color: #BDCCD4; */
    opacity: 50%;
}
.mb-social-a {
    transition: opacity .2s linear 0.2s;
}

/* overlay */
/* svg */
/* svg */

