// color
$Blue: #3D58A6;
// colors
// fontsUlr
$fontsUrl: '../fonts/';
$robotoRegurl: 'Roboto';
$robotoBold: 'RobotoBold';
// fontsUlr

// animations
$animationTime: .2s;
$animationType: linear;
$animationDelay: 0.2s;
// animations